body {
    height: 100vh;
}

.btn-slide-icons {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 6rem;
    background-color: #fff;
    border: none;
    width: 5rem;
    font-size: 5rem;
    cursor: pointer;
    opacity: 0.5;
    transition: ease-out 50ms;
    z-index: 1;
    border-radius: 4rem;
    justify-content: center;
}

#prev-btn,
#prev-btn-dinner {
    left: 43px;

}

#next-btn,
#next-btn-dinner {
    right: 27px;

}

.slider-wrap {
    position: relative;
    overflow: hidden;
    height: 440px;
    width: 96%;
    margin: 0 auto auto 0;
}

.slider-main,
.dinner-posts-on-index-page {
    margin-top: 60px;
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    height: 100%;
    list-style: none;
}

.blog-post-wrapper {
    padding: 20px;
    width: 30%;
    max-width: 300px;
    max-height: 400px;
    display: inline-block;
}

.latest-blog-post {
    height: 100%;
    background-color: #D3F5D5;
    padding-bottom: 20px;
    width: 280px;
}

.latest-blog-post a {
    text-decoration: none;
    color: #2E362F;
}

.latest-blog-post a:hover {
    font-size: 1.1rem;
}

.latest-blog-post a:active {
    color: #fff;
}


.wpzoom-custom-recipe-card-post {
    width: 260px;
}


.btn-slide-icons:hover,
.btn-slide-icons:focus {
    opacity: 1;
}

.recipe-card-title {
    font-size: 1.3em;
    font-family: grandma, sans-serif;
    font-variant: small-caps;
    margin-bottom: 5px;
}

.recipe-card-course {
    font-family: halcom, sans-serif;
    font-size: 0.8em;
}

.recipe-card-course mark {
    background-color: #D3F5D5;
}

.blog-card-date {
    text-align: end;
    margin: 20px 10px 0 0;
    font-family: halcom, sans-serif;
    font-size: 0.7em;
}


.recipe-card-details,
.recipe-card-summary,
.recipe-card-ingredients,
.ingredients-title,
.ingredients-list,
.layout-1-column,
.recipe-card-directions,
.recipe-card-notes,
.wpzoom-recipe-card-print-link,
.latest-blog-post p {
    display: none;
}


.latest-blog-post img {
    width: 280px;
    height: 200px;
    object-fit: cover;
}

.latest-blog-post figure {
    margin: 0 auto;
}

.recipe-card-heading {
    text-align: center;
}



/*media tablet styles*/
@media only screen and (min-width:927px) and (max-width:1366px) {

    .wpzoom-custom-recipe-card-post {
        width: 280px;
    }

}

/*media mobile styles*/
@media only screen and (max-width:926px) {

    .btn-slide-icons {
        display: none;
    }

    .slider-wrap {
        height: 100%;
        position: static;
    }

    .slider-main,
    .dinner-posts-on-index-page {
        overflow: hidden;
        flex-wrap: wrap;
        justify-content: center;
    }

    .latest-blog-post,
    .wpzoom-custom-recipe-card-post {
        width: 100%;
        min-width: 300px;
    }

    .blog-post-wrapper {
        width: 40%;
    }


    .latest-blog-post img {
        width: 300px;
    }

    /*media mobile styles*/
    @media only screen and (max-width:800px) {

        .slider-main {
            display: grid;
            padding: 0;
        }
    }


    /*media mobile styles*/
    @media only screen and (max-width:440px) {
        .section-banner-h2 {
            padding-left: 60px;
            font-size: 0.8em;
            margin-top: -120px;
        }

        .slider-wrap {
            width: 95%;
            margin: 0 auto;
        }

        .latest-blog-post {
            min-width: 270px;
        }

        .latest-blog-post img {
            width: 270px;
            height: 150px;
        }

        .recipe-card-title {
            font-size: 0.7em;
        }

        .recipe-card-course {
            font-size: 0.5em;
        }
    }

}