/* Recipe Card Styles */

.blog {
    display: grid;
    width: 100%;
    margin: 100px auto;
}

.post-name {
    width: 400px;
    margin: 0 50px;
}

.wpzoom-recipe-card-print-link,
.recipe-card-author {
    display: none;
}



.wp-block-wpzoom-recipe-card-block-recipe-card,
.wpzoom-custom-recipe-card-post {
    max-width: 100%;
    margin: 30px auto;

}

.recipe-card-image figure {
    margin: 0;
}

.recipe-card-image img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
    border-style: solid;
    border-width: 9px;
    border-color: #B89E9E;

}

.wpzoom-custom-recipe-card-post {
    grid-column: 1/5;
    grid-row: 4;
}

.recipe-card-ingredients,
.recipe-card-directions {
    border-style: solid;
    border-radius: 27px;
    border-width: 4px;
    border-color: #A3B7A2;
    padding: 20px;
    margin: 20px 10px;
    font-family: grandma, sans-serif;
}

.ingredients-title,
.notes-title {
    font-size: 1.4em;
    font-weight: 700;
}

.ingredient-item,
.directions-list,
.recipe-card-notes-list {
    font-size: 1em;
    font-weight: 700;
}

.blog-text_upper {
    padding-bottom: 50px;
    font-family: halcom, sans-serif;
    font-size: 1em;
}

.recipe-card-title {
    font-size: 1.5rem;
    font-family: grandma, sans-serif;
    font-weight: 700;
    text-align: center;

}

/* Posted note */

.posted-it {
    z-index: +1;
    width: 100%;
    border-color: #B89E9E;
    margin: 0 auto;
    font-family: grandma, sans-serif;
    font-size: 0.8em;
    text-align: end;
    padding-right: 100px;
    ;
}